@media screen and (max-width: 400px) {

    .hero-ppal {
        .carousel-hero {
            .carousel-inner {
                .carousel-item {
                    img {
                        height: 30vh;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    main {
        .mas-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .myCard {
                width: auto;

                img {
                    margin: auto;
                }
            }
        }
    }
}