//bloque fijo que puedo llevar a diferentes partes, sin repetir el codigo
//este ejemplo es para ver la estructura ya que no se repite en el codigo
%img-card{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
