$font-ppal: "Poppins", sans-serif ;
$font-secondary: "Anton SC", sans-serif; 

$color-link : black;
$color-txtCarousel : rgb(116, 4, 106);

$btn-hero_border: #e5b2c3;
$btn-hero_bg: yellow;
$btn-hero_hoverBG: rgb(95, 67, 67);
$btn-hero_hoverTxt: white;